* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Bold'), url('../font/Gilroy-Bold.woff') format('woff');
    }
    

@font-face {
    font-family: 'Gilroy-Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Heavy'), url('../font/Gilroy-Heavy.woff') format('woff');
}


@font-face {
    font-family: 'Gilroy-Light';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Light'), url('../font/Gilroy-Light.woff') format('woff');
}


@font-face {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Medium'), url('../font/Gilroy-Medium.woff') format('woff');
}


@font-face {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Regular'), url('../font/Gilroy-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy-Semibold';
    src: url(../font/Gilroy-Semibold.ttf);
    font-style: normal;
    font-weight: normal;
}

body {
    background: #FFF;
    font-size: 20px;
    line-height: normal;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

.page__header {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25rem;
    padding-top: 2rem;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.logo__text {
    font-family: Gilroy-Bold;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
}

.logo__text__grow {
    color: #000;
}

.logo__text__be {
    color: #F25822;
}

.header__menu {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-family: Gilroy-SemiBold;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 400;
}

.menu__link a {
    color: #000;
}

.menu__link:first-child a {
    color: #F25822;
}

.page__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-top: 4.2rem;
    font-style: normal;
    font-weight: 400;
}

.main__text h1 {
    width: 522px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 3rem;
}

.main__img {
    margin-right: 3.2rem;
}

.main__text h2 {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 1rem;
    width: 466px;
    margin-top: 0.85rem;
}

.main__btns {
    width: 302px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.85rem;
}

.btn__start {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 0.75rem;
    vertical-align: middle;
    border-radius: 2.5rem;
    background: #F25822;
    box-shadow: 0.2rem 0.2rem 0.4rem 0 rgba(242, 88, 34, 0.20);
    border-color: #F25822;
    width: 7rem;
    height: 2.5rem;
}

.btn__watch {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 0.75rem;
}

.footer {
    width: 1200px;
    height: 243px;
    display: flex;
    flex-direction: column;
}

.footer__logos {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: space-between;
}

